<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>navbar page</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="navbar.css">
    </head>
    <body>
        <div class="fir-header">
        <div class="logo">
            <h1>Ethio-<span>Vehicles</h1></span>
        </div>
        <div class="navs">
            <ul>
                <li><a href="buying-page.html">Buy-cars</a></li>
                <li><a href="Renting-page.html">Rent-cars</a></li>
                <li><a href="Home.html">Home</a></li>
                <li><a href="admin-page.html">I'm Admin</a></li>
                <li><a href="">Home</a></li>
            </ul>
        </div>
    </div>
    </body>
</html>